# Project exclude paths
/dist/
/node_modules/
/src/main/functions/huaweiCloud.d.ts
/src/main/functions/huaweiCloud.d.ts.map
/src/main/functions/loadImgs.d.ts
/src/main/functions/loadImgs.d.ts.map
/src/main/functions/loadImgs.js
/src/main/io/callUpdateResources.d.ts
/src/main/io/callUpdateResources.d.ts.map
/src/main/io/io.d.ts
/src/main/io/io.d.ts.map
/src/main/communications.d.ts
/src/main/communications.d.ts.map
/src/main/index.d.ts
/src/main/index.d.ts.map
/src/main/main.dev.d.ts
/src/main/main.dev.d.ts.map
/src/main/settings.d.ts
/src/main/settings.d.ts.map
/src/main/settings.js
/src/redux/imgs/actions.d.ts
/src/redux/imgs/actions.d.ts.map
/src/redux/imgs/reducers.d.ts
/src/redux/imgs/reducers.d.ts.map
/src/redux/token/actions.d.ts
/src/redux/token/actions.d.ts.map
/src/redux/token/reducers.d.ts
/src/redux/token/reducers.d.ts.map
/src/redux/interface.d.ts
/src/redux/interface.d.ts.map
/src/redux/interface.js
/src/redux/reducers.d.ts
/src/redux/reducers.d.ts.map
/src/renderer/components/header/CompHeader.d.ts
/src/renderer/components/header/CompHeader.d.ts.map
/src/renderer/components/header/CompMenuBtn.d.ts
/src/renderer/components/header/CompMenuBtn.d.ts.map
/src/renderer/components/ocr/CompOcr.d.ts
/src/renderer/components/ocr/CompOcr.d.ts.map
/src/renderer/components/ocr/CompOcrDraw.d.ts
/src/renderer/components/ocr/CompOcrDraw.d.ts.map
/src/renderer/components/ocr/CompOcrs.d.ts
/src/renderer/components/ocr/CompOcrs.d.ts.map
/src/renderer/components/serialize/tbl_ls_tokens/CompTokensTableAntd.d.ts
/src/renderer/components/serialize/tbl_ls_tokens/CompTokensTableAntd.d.ts.map
/src/renderer/components/serialize/tbl_ls_tokens/CompTokensTableRaw.d.ts
/src/renderer/components/serialize/tbl_ls_tokens/CompTokensTableRaw.d.ts.map
/src/renderer/components/serialize/CompSerialize.d.ts
/src/renderer/components/serialize/CompSerialize.d.ts.map
/src/renderer/components/serialize/CompSerializes.d.ts
/src/renderer/components/serialize/CompSerializes.d.ts.map
/src/renderer/components/serialize/CompShowTokens.d.ts
/src/renderer/components/serialize/CompShowTokens.d.ts.map
/src/renderer/components/support/CompMySign.d.ts
/src/renderer/components/support/CompMySign.d.ts.map
/src/renderer/components/support/CompOcrWithMark.d.ts
/src/renderer/components/support/CompOcrWithMark.d.ts.map
/src/renderer/components/support/CompWatermark.d.ts
/src/renderer/components/support/CompWatermark.d.ts.map
/src/renderer/components/CompImgInfo.d.ts
/src/renderer/components/CompImgInfo.d.ts.map
/src/renderer/components/CompUpdateResourceRoot.d.ts
/src/renderer/components/CompUpdateResourceRoot.d.ts.map
/src/renderer/ds/trade/item.d.ts
/src/renderer/ds/trade/item.d.ts.map
/src/renderer/ds/trade/ocr.d.ts
/src/renderer/ds/trade/ocr.d.ts.map
/src/renderer/ds/trade/token.d.ts
/src/renderer/ds/trade/token.d.ts.map
/src/renderer/ds/img.d.ts
/src/renderer/ds/img.d.ts.map
/src/renderer/functions/algoOcr/ocr.d.ts
/src/renderer/functions/algoOcr/ocr.d.ts.map
/src/renderer/functions/algoSerialize/algoDecideLsOrXq.d.ts
/src/renderer/functions/algoSerialize/algoDecideLsOrXq.d.ts.map
/src/renderer/functions/algoSerialize/algoHandleWord.d.ts
/src/renderer/functions/algoSerialize/algoHandleWord.d.ts.map
/src/renderer/functions/algoSerialize/algoSerializeLs.d.ts
/src/renderer/functions/algoSerialize/algoSerializeLs.d.ts.map
/src/renderer/functions/algoSerialize/algoSerializeXq.d.ts
/src/renderer/functions/algoSerialize/algoSerializeXq.d.ts.map
/src/renderer/functions/path.d.ts
/src/renderer/functions/path.d.ts.map
/src/renderer/app.d.ts
/src/renderer/config.d.ts
/src/renderer/config.d.ts.map
/src/renderer/index.d.ts
/src/renderer/index.js
/src/renderer/sample.d.ts
/src/renderer/sample.d.ts.map
/src/renderer/settings.d.ts
/src/renderer/settings.d.ts.map